<div class="container py-4">
  <div class="row align-items-center mb-4">
    <div class="col-auto">
      <%= profile_avatar_select(@user) %>
    </div>
    <div class="col">
      <div class="d-flex justify-content-between">
        <h2 class="fw-bold mb-1"><%= @user.user_name %></h2>
        <% if @user == current_user %>
          <%= link_to "Edit Profile", edit_profile_path(@user.user_name) %>
        <% else %>
          <div id="follow_button_<%= @user.id %>">
            <% if current_user.following?(@user) %>
              <%= link_to "Unfollow", unfollow_user_path(@user.user_name), data: {turbo_method: :post},class: "btn btn-outline-danger btn-sm px-4 fw-bold" %>
            <% else %>
              <%= link_to "Follow", follow_user_path(@user.user_name), data: {turbo_method: :post}, class: "btn btn-primary btn-sm px-4 fw-bold" %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="text-muted">Posts: <%= @posts.size %></div>
      <div><%= @user.bio %> </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <% @posts.each do |post| %>
      <% if post.image.attached? %>
        <div class="col">
          <%= link_to post_path(post) do %>
            <%= image_tag post.image.variant(resize_to_fill: [400, 400]), class: "img-fluid rounded-3 w-100 h-100", style: "aspect-ratio: 1 / 1; object-fit: cover;" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>