<div class="card shadow-sm rounded-4 border-0 mb-4">
  <div class="card-body p-3" style="min-width: 1080px;">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <div class="mb-2">
        <span class="fw-bold text-primary" style="font-size: 1.1rem;">
          <%= link_to profile_path(post.user.user_name) do %>
            <%= profile_avatar_select(post.user, :xs) %>
            <%= post.user.user_name %>
          <% end %>
        </span>
        <span class="text-muted small mx-3">posted <%= time_ago_in_words(post.created_at) %> ago</span>
      </div>
      <% if action == :show %>
        <div>
          <% if post.user == current_user %>
            <%= link_to "Edit", edit_post_path(post), class: "btn btn-link btn-sm text-decoration-none" %>
          <% end %>
          <%= link_to "Back", root_path, class: "btn btn-link btn-sm text-decoration-none" %>
        </div>
      <% end %>
    </div>
    <div class="mb-2">
      <span class="text-secondary" style="font-size: 1.05rem;"><%= post.caption %></span>
    </div>
    <% if post.image.attached? %>
      <div class="text-center">
        <% link = action == :index ? post_path(post) : "#" %>
        <%= link_to link do %>
          <%= image_tag post.image.variant(resize_to_limit: [1080,566]), class: "img-fluid rounded-3 border", alt: "Post image" %>
        <% end %>
      </div>
    <% end %>
    <%= turbo_frame_tag "like_button_#{post.id}" do %>
      <%= render "posts/like_button", post: post %>
    <% end %>
    <% if action == :show %>
      <div class="mt-4">
        <h6 class="fw-bold mb-3">Comments</h6>
        <% if user_signed_in? %>
          <%= form_with(model: [post, Comment.new]) do |form| %>
            <div class="input-group mb-3">
              <%= form.text_area :content, rows: 1, class: "form-control", placeholder: "Add a comment..." %>
              <button class="btn btn-primary" type="submit">Post</button>
            </div>
          <% end %>
        <% end %>
        <div class="mt-3">
          <%= turbo_frame_tag "comments" do %>
            <%= render post.comments, post: post %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>